@charset "UTR-8";

body{
    margin: 0;
    background: black url('imagens/frames/fundo-madeira.jpg') top center /cover no-repeat fixed;
    height: 100vh;
}
div#celular{
    display: inline;
    background: transparent url('imagens/frames/frame-iphone.png') center center /cover no-repeat;
    height:  627px;
    width: 311px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
div#botoes{
    height: 73vh;
    width: 5vw;
    position: absolute;
    left: 95%;
    top: 3%;
}
.logo{
    height: 50px;
    width: 50px;
    margin: 4px;
    margin-bottom: 15px;
    border-radius: 50%;
}
iframe{
    height: 480.6px;
    width: 295.2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48.2%, -50.5%);
    overflow-x: hidden;
}
img.logo:hover{
    border: 1px solid white;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.685);
    transform: translate(-5px, -5px);
    transition: 0.5s;
}